.icon {
  top: 139.34px;
  left: 31.47px;
  width: 326.06px;
  height: 1px;
}
.b,
.icon,
.textarea {
  position: absolute;
}
.b {
  top: 77px;
  left: 32px;
  display: inline-block;
  width: 327px;
}
.textarea {
  top: 221px;
  left: 31px;
}
.textarea,
.textarea1,
.textarea2 {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  border-radius: var(--br-md);
  box-sizing: border-box;
  width: 329px;
  height: 46px;
}
.textarea1 {
  position: absolute;
  top: 281px;
  left: 31px;
}
.textarea2 {
  top: 341px;
  left: 32px;
}
.b1,
.button,
.textarea2 {
  position: absolute;
}
.b1 {
  height: calc(100% - 10px);
  width: calc(100% + 1px);
  top: 10px;
  left: 0;
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-arial-rounded-mt);
  color: var(--color-white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: 0;
  background-color: var(--color-green-100);
  top: 468px;
  left: 79px;
  box-sizing: border-box;
  width: 233px;
  height: 42px;
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
  font-family: var(--font-arial-rounded-mt);
}
