.icon {
  width: 100%;
  right: 0.5px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.b,
.div1,
.icon,
.icon1 {
  position: absolute;
}
.b {
  width: calc(100% + 0.94px);
  top: calc(50% - 31.42px);
  left: 0.03px;
  display: inline-block;
}
.div1 {
  top: 77px;
  left: 31.97px;
  width: 326.06px;
  height: 62.84px;
}
.icon1 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button,
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button {
  position: absolute;
  height: calc(100% - 18px);
  top: 7px;
  bottom: 11px;
  left: calc(50% - 38px);
  width: 86px;
  background-image: url(../../public/3@3x.png);
}
.button1 {
  height: calc(100% - 22px);
  top: 9px;
  right: 27px;
  bottom: 13px;
  width: 79px;
  background-image: url(../../public/4@3x.png);
}
.button1,
.button2,
.div2 {
  position: absolute;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 12px;
  left: calc(50% - 158px);
  width: 69px;
  height: 63px;
  background-image: url(../../public/5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div2 {
  bottom: 0;
  left: 0;
  width: 390px;
  height: 87px;
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  text-align: center;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
  font-family: var(--font-arial-rounded-mt);
}
