.icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.button,
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.button {
  position: absolute;
  height: calc(100% - 18px);
  top: 7px;
  bottom: 11px;
  left: calc(50% - 38px);
  width: 86px;
  background-image: url(../../public/3@3x.png);
}
.button1 {
  height: calc(100% - 22px);
  top: 9px;
  right: 27px;
  bottom: 13px;
  width: 79px;
  background-image: url(../../public/4@3x.png);
}
.button1,
.button2,
.div1 {
  position: absolute;
}
.button2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 12px;
  left: calc(50% - 158px);
  width: 69px;
  height: 63px;
  background-image: url(../../public/5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div1 {
  bottom: 0;
  left: 0;
  width: 390px;
  height: 87px;
}
.icon1 {
  width: 100%;
  right: 0.5px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.b,
.div2,
.icon1 {
  position: absolute;
}
.b {
  width: calc(100% + 0.94px);
  top: calc(50% - 31.42px);
  left: 0.03px;
  display: inline-block;
}
.div2 {
  top: 77px;
  left: 31.97px;
  width: 326.06px;
  height: 62.84px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
  font-family: var(--font-arial-rounded-mt);
}
.div3,
.div4,
.div5 {
  position: absolute;
  top: 156px;
  left: 77px;
  display: inline-block;
  width: 237px;
}
.div4,
.div5 {
  top: 212px;
  left: 11px;
  text-align: left;
}
.div5 {
  top: 328px;
  left: 18px;
}
.textarea,
.textarea1 {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  border-radius: var(--br-sm);
  box-sizing: border-box;
  width: 353px;
}
.textarea {
  position: absolute;
  top: 262px;
  left: 18px;
  height: 57px;
}
.textarea1 {
  top: 394px;
  left: 19px;
  height: 240px;
}
.button3,
.div6,
.textarea1 {
  position: absolute;
}
.div6 {
  width: calc(100% - 8px);
  top: calc(50% - 16.5px);
  left: 5px;
  font-size: var(--font-size-lg);
  font-family: var(--font-lucida-bright);
  color: var(--color-black);
  text-align: center;
  display: inline-block;
}
.button3 {
  cursor: pointer;
  border: 1px solid var(--color-gray-200);
  padding: 0;
  background-color: var(--color-green-200);
  bottom: 114px;
  left: 117px;
  border-radius: 24px;
  box-sizing: border-box;
  width: 156px;
  height: 65px;
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-lucida-bright);
}
