.icon {
  position: absolute;
  top: 154px;
  left: 0;
  width: 390px;
  height: 243px;
  object-fit: cover;
}
.textarea,
.textarea1 {
  border: 1px solid var(--color-gray-200);
  background-color: var(--color-white);
  left: 31px;
  border-radius: var(--br-md);
  box-sizing: border-box;
  width: 329px;
  height: 46px;
}
.textarea {
  position: absolute;
  top: 468px;
}
.textarea1 {
  top: 528px;
}
.a,
.b,
.button,
.textarea1 {
  position: absolute;
}
.b {
  height: calc(100% - 10px);
  width: calc(100% + 1px);
  top: 10px;
  left: 0;
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-arial-rounded-mt);
  color: var(--color-white);
  text-align: center;
}
.a,
.button {
  cursor: pointer;
  left: 79px;
}
.button {
  border: 1px solid var(--color-gray-200);
  padding: 0;
  background-color: var(--color-green-100);
  top: 588px;
  box-sizing: border-box;
  width: 233px;
  height: 42px;
}
.a {
  text-decoration: underline;
  top: 644px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 234px;
  height: 32px;
}
.icon1 {
  width: 100%;
  right: 0.5px;
  bottom: -0.5px;
  left: -0.5px;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
}
.b1,
.div1,
.icon1 {
  position: absolute;
}
.b1 {
  width: calc(100% + 0.94px);
  top: calc(50% - 31.42px);
  left: 0.03px;
  display: inline-block;
}
.div1 {
  top: 77px;
  left: 31.97px;
  width: 326.06px;
  height: 62.84px;
  font-size: var(--font-size-2xl);
  color: var(--color-gray-300);
}
.div {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 844px;
  text-align: center;
  font-size: var(--font-size-sm);
  color: #010101;
  font-family: var(--font-arial-rounded-mt);
}
